<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">

</head>
<body  onload="startCountdown();">
    <div class="form">
        <h1 class="title" style="font-size: 200px;">Service Currently Unavailable</h1>
        <p class="subtitle">The service will be restored once new assignments are added. Please check back later.</p>
    </div>
    
    
    <div class="footer">
        <p id="countdown">Loading...</p>
    </div>
<script src="{{ url_for('static', filename='java/countdown.js')}}"></script>

</body>
</html>
