
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    zoom: 90%;
    overflow: auto;
    cursor: url('/static/cursor.png'), auto;
}


body {
    font-family: Arial, sans-serif;
    transition: background 0.5s ease;
}


a {
  text-decoration: none;
    cursor: url('/static/cursor.png'), auto;
}

.nohover{
    cursor: url('/static/cursor.png'), auto;
    color:white ;
    }