
.card-description {
      font-size: 14px;
      color: black;
      margin-top: 10px;
  }





.nav {
    padding: 20px;
    margin: 0;
    text-align: center;
    background-color: #265073;

    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.cardiframe:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;

      height: 100px;
  
}

.card p {
    font-size: 22px; /* Increase text size */
}

a {
    text-decoration: none;
    color: blue;
    cursor: url('/static/cursor.png'), auto;

}

a:hover {
    text-decoration: none;
    text-align: center;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    h1 {
        padding: 10px;
        width: 96%;
    }
    html{
cursor: auto;
}
    ul {
        flex-direction: column; /* Stack cards vertically */
        padding: 10px;
    }

    li {
        margin: 5px;
        max-width: 100%; /* Make cards full width on mobile */
    }

    .card {
        padding: 10px;
        width: 96%; /* Make cards 100% width on mobile */
        margin: 0 auto; /* Center-align the cards */
        min-height: 50px;
        width: 210px
    }
    .cardiframe {
        padding: 10px;
        width: 96%; /* Make cards 100% width on mobile */
        margin: 0 auto; /* Center-align the cards */
        min-height: 50px;
        width: 210px
    }
}
.card
{
color: blue;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    margin: 10px;
    text-transform: capitalize; /* Capitalize the first letter */
    display: block;
    width: 200px;
}

.cardiframe
{
color: blue;
    background-color: #35d63d;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    margin: 10px;
    text-transform: capitalize; /* Capitalize the first letter */
    display: block;
    width: 200px;
}






.discord-link a {
        color: white;
        text-decoration: underline;
      }



                  
.banner {
width: 100%;
height: 100%;

}
.banner_content {
display: flex;
position: relative;
z-index: 1;
flex-direction: column;
text-align: center;
}
span {
font-size: 2.2rem;
font-weight: bold;
color: #fff;
text-shadow: 0px 4px 12px #000000ba;
}
#canvas {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
pointer-events: none; /* Allow click events to pass through the canvas */
}
h1{
font-size: 46px;
}





.popup-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
      display: none;
      text-align: center;

      z-index: 999;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Rounded corners */
    z-index: 1000;
    width: 30%; /* Adjust the width as needed */
    height: 25%;
}

  .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 30px;
      color : black;
      /* cursor: pointer; */
  }

  .popup-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper img {
    width: 80px; /* Adjust the width as needed */
    height: auto;
    margin-bottom: 5px; /* Adjust the spacing between the image and text */
}

.button-wrapper p {
    margin: 0;
    font-size: 25px;

}


  .popup-buttons button {
      padding: 10px;
      font-size: 16px;
      /* cursor: pointer; */
      margin: 30px;

  }
  .popup-buttons img {
  width: 110px; /* Set the width of the image */
}
.popup-buttons span {
  display: block; /* Make each span appear on a new line */
  margin-top: 5px; /* Adjust the margin between button and text */
}
h3{
color:Black
}
.nohover{
cursor: url('/static/cursor.png'), auto;


color:white ;
  text-decoration: underline;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3a6689;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    }
.countdown{
    color:white;
    }