<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">

</head>
<body>
    <div class="form">
        <h1 class="title">Your Account Has Been Created</h1>
        <p class="subtitle">Please wait for approval.</p>
    </div>
</body>
</html>
