<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">

</head>
<body>
    <div class="form">
        <h1 class="title">Your subscription has expired</h1>
        <p class="subtitle">Last subscription date : {{current_user.subscription_date}}.</p>
        <p class="subtitle">
            Instapay : <span id="instapay"></span> <br> Vodafone Cash : <span id="vodafone"></span>
          </p>
          <script type="text/javascript">
            document.getElementById("instapay").textContent = "01111251681";
            document.getElementById("vodafone").textContent = "01070257965";
          </script>
    </div>
</body>
</html>
