<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    <meta name="robots" content="noindex">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="static/java/connection.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">

</head>
<body>
<div class="form">


    <form method="post">


    <div class="title">Create Password</div>

    {% if msg == 'dontmatch' %}
    <br>

    <div class="subtitle"><div class="failed">Passwords dont match!</div>
<br>
{% endif %}


    <div class="input-container ic2">
        <input type="password"placeholder="" type="text" class="input" id="Password" name="Password" required>
        <div class="cut cut-short"></div>
        <label class="iLabel" for="Password">Password</label>



<div class="input-container ic2">
    <input type="password" placeholder="" type="text" class="input" id="Password2" name="Password2" required>
    <div class="cut cut-short"></div>
    <label class="iLabel" for="Password2">Confirm Password</label>
</div>
<button class="submit" type="text">Continue</button>
</div>


</form>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputs = document.querySelectorAll('.input');
        inputs.forEach(function (input) {
            input.addEventListener('blur', function () {
                if (input.value.trim() !== '') {
                    input.classList.add('valid');
                } else {
                    input.classList.remove('valid');
                }
            });
        });
    });
</script>
</body>
</html>


