<!DOCTYPE html>
<html>
<head>
 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2812078112067783"
 crossorigin="anonymous"></script>

    <title>Chapter 1</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">


    <meta name="description" content="Chapter 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 



  <style>

      html, body {
          height: 100%;
          margin: 0;
          padding: 0;
          zoom: 90%;
          overflow: auto
      }
      html{
        cursor: url('https://media.discordapp.net/attachments/951495863509876828/1190799754519650435/cursor2.png?ex=65a31db1&is=6590a8b1&hm=4b46da89ec303157e22691eaef3a9bd0bcf001613403571da23a02e9f736a968&=&format=webp&quality=lossless&width=14&height=14'), auto;

      }
      .card-description {
            font-size: 14px;
            color: black;
            margin-top: 10px;
        }
      /* Style the iframe to take 100% of the viewport */

      body {
          font-family: Arial, sans-serif;
          background-color: #1a1a1a;

          color: #fff; /* Default text color */
      }

      /* Dark Mode */
      @media (prefers-color-scheme: dark) {
          body {
              background-color: #1a1a1a;
              color: #fff; /* Text color in dark mode */
          }

          .nav {
              background-color: #9dd3d0; /* Dark background color for the navigation */
              color: #fff;
          }

          ul {
              background-color: #1a1a1a; /* Dark background color for the list */
          }

          /* Add more styles for dark mode as needed */
      }

      .nav {
          padding: 20px;
          margin: 0;
          text-align: center;
          background-color: #9dd3d0;
          color: #fff;
      }

      ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          padding: 20px;
      }


  


      .card:hover {
          transform: translateY(-5px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .card img {
          max-width: 100%;

            height: 100px;
        
      }

      .card p {
          font-size: 22px; /* Increase text size */
      }

      a {
          text-decoration: none;
          color: blue;
          cursor: url('https://media.discordapp.net/attachments/951495863509876828/1190799754519650435/cursor2.png?ex=65a31db1&is=6590a8b1&hm=4b46da89ec303157e22691eaef3a9bd0bcf001613403571da23a02e9f736a968&=&format=webp&quality=lossless&width=14&height=14'), auto;

      }

      a:hover {
          text-decoration: none;
          text-align: center;
      }

      /* Mobile Styles */
      @media screen and (max-width: 768px) {
          h1 {
              padding: 10px;
              width: 96%;
          }
          html{
  cursor: auto;
}
          ul {
              flex-direction: column; /* Stack cards vertically */
              padding: 10px;
          }

          li {
              margin: 5px;
              max-width: 100%; /* Make cards full width on mobile */
          }

          .card {
              padding: 10px;
              width: 96%; /* Make cards 100% width on mobile */
              margin: 0 auto; /* Center-align the cards */
              min-height: 50px;
              width: 210px
          }
      }
      .card
    {
      color: blue;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 10px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          padding: 20px;
          transition: transform 0.2s, box-shadow 0.2s;
          text-align: center;
          margin: 10px;
          text-transform: capitalize; /* Capitalize the first letter */
          display: block;
          width: 200px;
      }

.discord-link a {
              color: white;
              text-decoration: underline;
            }



                        
 .banner {
  width: 100%;
  height: 100%;

}
.banner_content {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  text-align: center;
}
span {
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 4px 12px #000000ba;
}
#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow click events to pass through the canvas */
}
h1{
  font-size: 46px;
}





.popup-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            display: none;
            text-align: center;

            z-index: 999;
        }

        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 15px; /* Rounded corners */
            z-index: 1000;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            /* cursor: pointer; */
        }

        .popup-buttons {
            display: flex;
            justify-content: center;

            margin-top: 20px;
            
        }

        .popup-buttons button {
            padding: 10px;
            font-size: 16px;
            /* cursor: pointer; */
            margin: 30px;

        }
        .popup-buttons img {
        width: 110px; /* Set the width of the image */
    }
    .popup-buttons span {
        display: block; /* Make each span appear on a new line */
        margin-top: 5px; /* Adjust the margin between button and text */
    }
    h3{
      color:Black
    }
    .nohover{
  cursor: url('https://media.discordapp.net/attachments/951495863509876828/1190799754519650435/cursor2.png?ex=65a31db1&is=6590a8b1&hm=4b46da89ec303157e22691eaef3a9bd0bcf001613403571da23a02e9f736a968&=&format=webp&quality=lossless&width=14&height=14'), auto; 
color:white ;
        text-decoration: underline;
}

  </style>


</head>


<body>

  <section class="banner">
    <canvas id="canvas"> </canvas>
    <div class="nav">
        <h1>✰ Chapter 1 ✰</h1>

            <!-- <p>Please donate to keep this site up. -->
              <p>
                <a href="/" class="nohover">Home</a>
              </p>
 
              
  
  </div>


        <ul>       
            
  

                <div class="card" onclick="openPopupname1(event)">
                    S1 | Part 1
          
                </div>

                <div class="popup-container" id="popupContainer1" onclick="closePopup1()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose1(event)">
                      <span class="close" onclick="closePopup1()">&times;</span>
                      <div class="popup-content">
                          <h3>   S1 | Part 1</h3>
                          <h3>01:04:14</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=bdv3ARdDlq8&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=bdv3ARdDlq8">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/bdv3ARdDlq8" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname2(event)">
                    S1 | Part 2
          
                </div>

                <div class="popup-container" id="popupContainer2" onclick="closePopup2()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose2(event)">
                      <span class="close" onclick="closePopup2()">&times;</span>
                      <div class="popup-content">
                          <h3>   S1 | Part 2</h3>
                          <h3>00:45:11</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=jC8Asft8gO8&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=jC8Asft8gO8">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/jC8Asft8gO8" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname3(event)">
                    S1 | Part 3
          
                </div>

                <div class="popup-container" id="popupContainer3" onclick="closePopup3()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose3(event)">
                      <span class="close" onclick="closePopup3()">&times;</span>
                      <div class="popup-content">
                          <h3>   S1 | Part 3</h3>
                          <h3>00:19:37</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=7J4P4HemnfY&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=7J4P4HemnfY">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/7J4P4HemnfY" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname4(event)">
                    S1 | Part 4
          
                </div>

                <div class="popup-container" id="popupContainer4" onclick="closePopup4()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose4(event)">
                      <span class="close" onclick="closePopup4()">&times;</span>
                      <div class="popup-content">
                          <h3>   S1 | Part 4</h3>
                          <h3>01:26:04</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=kE6Xl-I2CVc&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=kE6Xl-I2CVc">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/kE6Xl-I2CVc" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname5(event)">
                    S2 | Part 1
          
                </div>

                <div class="popup-container" id="popupContainer5" onclick="closePopup5()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose5(event)">
                      <span class="close" onclick="closePopup5()">&times;</span>
                      <div class="popup-content">
                          <h3>   S2 | Part 1</h3>
                          <h3>00:41:47</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=liyZwlaaMzE&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=liyZwlaaMzE">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/liyZwlaaMzE" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname6(event)">
                    S2 | Part 2
          
                </div>

                <div class="popup-container" id="popupContainer6" onclick="closePopup6()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose6(event)">
                      <span class="close" onclick="closePopup6()">&times;</span>
                      <div class="popup-content">
                          <h3>   S2 | Part 2</h3>
                          <h3>00:31:51</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=TxUXKX43QSw&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=TxUXKX43QSw">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/TxUXKX43QSw" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname7(event)">
                    S2 | Part 3
          
                </div>

                <div class="popup-container" id="popupContainer7" onclick="closePopup7()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose7(event)">
                      <span class="close" onclick="closePopup7()">&times;</span>
                      <div class="popup-content">
                          <h3>   S2 | Part 3</h3>
                          <h3>00:40:13</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=7rmXYIBe9jQ&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=7rmXYIBe9jQ">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/7rmXYIBe9jQ" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname8(event)">
                    S2 | Part 4
          
                </div>

                <div class="popup-container" id="popupContainer8" onclick="closePopup8()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose8(event)">
                      <span class="close" onclick="closePopup8()">&times;</span>
                      <div class="popup-content">
                          <h3>   S2 | Part 4</h3>
                          <h3>00:31:56</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=WdFJy2mAoXU&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=WdFJy2mAoXU">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/WdFJy2mAoXU" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname9(event)">
                    S3 | Part 1
          
                </div>

                <div class="popup-container" id="popupContainer9" onclick="closePopup9()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose9(event)">
                      <span class="close" onclick="closePopup9()">&times;</span>
                      <div class="popup-content">
                          <h3>   S3 | Part 1</h3>
                          <h3>01:15:16</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=5Ggm5Pg3kT8&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=5Ggm5Pg3kT8">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/5Ggm5Pg3kT8" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname10(event)">
                    S3 | Part 2
          
                </div>

                <div class="popup-container" id="popupContainer10" onclick="closePopup10()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose10(event)">
                      <span class="close" onclick="closePopup10()">&times;</span>
                      <div class="popup-content">
                          <h3>   S3 | Part 2</h3>
                          <h3>01:05:20</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=C6dWAEKVLJo&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=C6dWAEKVLJo">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/C6dWAEKVLJo" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname11(event)">
                    S4 | Part 1
          
                </div>

                <div class="popup-container" id="popupContainer11" onclick="closePopup11()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose11(event)">
                      <span class="close" onclick="closePopup11()">&times;</span>
                      <div class="popup-content">
                          <h3>   S4 | Part 1</h3>
                          <h3>02:21:56</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=dEGUqA_qv5E&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=dEGUqA_qv5E">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/dEGUqA_qv5E" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname12(event)">
                    S5 | Part 1
          
                </div>

                <div class="popup-container" id="popupContainer12" onclick="closePopup12()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose12(event)">
                      <span class="close" onclick="closePopup12()">&times;</span>
                      <div class="popup-content">
                          <h3>   S5 | Part 1</h3>
                          <h3>00:59:25</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=C8exTNxkb_o&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=C8exTNxkb_o">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/C8exTNxkb_o" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname13(event)">
                    S5 | Part 2
          
                </div>

                <div class="popup-container" id="popupContainer13" onclick="closePopup13()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose13(event)">
                      <span class="close" onclick="closePopup13()">&times;</span>
                      <div class="popup-content">
                          <h3>   S5 | Part 2</h3>
                          <h3>01:34:58</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=4oFk4GaDNAM&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=4oFk4GaDNAM">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/4oFk4GaDNAM" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname14(event)">
                    S6 | Part 1
          
                </div>

                <div class="popup-container" id="popupContainer14" onclick="closePopup14()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose14(event)">
                      <span class="close" onclick="closePopup14()">&times;</span>
                      <div class="popup-content">
                          <h3>   S6 | Part 1</h3>
                          <h3>02:02:37</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=Rno4u8I1WPU&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=Rno4u8I1WPU">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/Rno4u8I1WPU" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname15(event)">
                    S7 | Part 1
          
                </div>

                <div class="popup-container" id="popupContainer15" onclick="closePopup15()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose15(event)">
                      <span class="close" onclick="closePopup15()">&times;</span>
                      <div class="popup-content">
                          <h3>   S7 | Part 1</h3>
                          <h3>00:53:52</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=5JIN-oU5rWM&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=5JIN-oU5rWM">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/5JIN-oU5rWM" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname16(event)">
                    S7 | Part 2
          
                </div>

                <div class="popup-container" id="popupContainer16" onclick="closePopup16()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose16(event)">
                      <span class="close" onclick="closePopup16()">&times;</span>
                      <div class="popup-content">
                          <h3>   S7 | Part 2</h3>
                          <h3>00:35:38</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=VuOyN3WF1SI&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=VuOyN3WF1SI">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/VuOyN3WF1SI" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname17(event)">
                    S7 | Part 3
          
                </div>

                <div class="popup-container" id="popupContainer17" onclick="closePopup17()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose17(event)">
                      <span class="close" onclick="closePopup17()">&times;</span>
                      <div class="popup-content">
                          <h3>   S7 | Part 3</h3>
                          <h3>00:45:31</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=sKHuIxKgOd4&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=sKHuIxKgOd4">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/sKHuIxKgOd4" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname18(event)">
                    S7 | Part 4
          
                </div>

                <div class="popup-container" id="popupContainer18" onclick="closePopup18()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose18(event)">
                      <span class="close" onclick="closePopup18()">&times;</span>
                      <div class="popup-content">
                          <h3>   S7 | Part 4</h3>
                          <h3>00:47:51</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=vaDBgMmYda4&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=vaDBgMmYda4">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/vaDBgMmYda4" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname19(event)">
                    S8 | Part 1
          
                </div>

                <div class="popup-container" id="popupContainer19" onclick="closePopup19()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose19(event)">
                      <span class="close" onclick="closePopup19()">&times;</span>
                      <div class="popup-content">
                          <h3>   S8 | Part 1</h3>
                          <h3>01:34:31</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=JnxBBtT3l_w&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=JnxBBtT3l_w">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/JnxBBtT3l_w" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
  

                <div class="card" onclick="openPopupname20(event)">
                    S9 | Part 1
          
                </div>

                <div class="popup-container" id="popupContainer20" onclick="closePopup20()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose20(event)">
                      <span class="close" onclick="closePopup20()">&times;</span>
                      <div class="popup-content">
                          <h3>   S9 | Part 1</h3>
                          <h3>01:34:46</h3>
                          <div class="popup-buttons">
                              <button class="popupbtn">
                                <a href="https://www.youtube.com/watch?v=VFpG_r-pip8&list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118540795396218/image.png">
                                  </a>
                                  <p>Play</p>
                              </button>
          <a href="/watch?id=VFpG_r-pip8">Beta player</a>
                              <!-- Text under btn 1 -->
                              <button class="popupbtn">
                                  <a href="https://y2mate.com/youtube/VFpG_r-pip8" target="_blank">
                                      <img src="https://cdn.discordapp.com/attachments/1192117992457257074/1192118003836403833/image.png">
                                  </a>
                                  <p>Downlaod</p>
          
                              </button>
          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        
        </ul>
     <hr>
     <ul>
    
     <a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" target="_blank">   
        <div class="card">
            <img src="static/assets/yt.png" loading="lazy"></img>
            <br> Open Playlist
        </div>
     </a>
    </ul>
   
  
</body>

</section>

  <script>
            

     function openPopupname1(event) {
            event.stopPropagation();
            document.getElementById('popupContainer1').style.display = 'block';
        }

        function closePopup1() {
            document.getElementById('popupContainer1').style.display = 'none';
        }

        function preventPopupClose1(event) {
            event.stopPropagation();
        }
        

     function openPopupname2(event) {
            event.stopPropagation();
            document.getElementById('popupContainer2').style.display = 'block';
        }

        function closePopup2() {
            document.getElementById('popupContainer2').style.display = 'none';
        }

        function preventPopupClose2(event) {
            event.stopPropagation();
        }
        

     function openPopupname3(event) {
            event.stopPropagation();
            document.getElementById('popupContainer3').style.display = 'block';
        }

        function closePopup3() {
            document.getElementById('popupContainer3').style.display = 'none';
        }

        function preventPopupClose3(event) {
            event.stopPropagation();
        }
        

     function openPopupname4(event) {
            event.stopPropagation();
            document.getElementById('popupContainer4').style.display = 'block';
        }

        function closePopup4() {
            document.getElementById('popupContainer4').style.display = 'none';
        }

        function preventPopupClose4(event) {
            event.stopPropagation();
        }
        

     function openPopupname5(event) {
            event.stopPropagation();
            document.getElementById('popupContainer5').style.display = 'block';
        }

        function closePopup5() {
            document.getElementById('popupContainer5').style.display = 'none';
        }

        function preventPopupClose5(event) {
            event.stopPropagation();
        }
        

     function openPopupname6(event) {
            event.stopPropagation();
            document.getElementById('popupContainer6').style.display = 'block';
        }

        function closePopup6() {
            document.getElementById('popupContainer6').style.display = 'none';
        }

        function preventPopupClose6(event) {
            event.stopPropagation();
        }
        

     function openPopupname7(event) {
            event.stopPropagation();
            document.getElementById('popupContainer7').style.display = 'block';
        }

        function closePopup7() {
            document.getElementById('popupContainer7').style.display = 'none';
        }

        function preventPopupClose7(event) {
            event.stopPropagation();
        }
        

     function openPopupname8(event) {
            event.stopPropagation();
            document.getElementById('popupContainer8').style.display = 'block';
        }

        function closePopup8() {
            document.getElementById('popupContainer8').style.display = 'none';
        }

        function preventPopupClose8(event) {
            event.stopPropagation();
        }
        

     function openPopupname9(event) {
            event.stopPropagation();
            document.getElementById('popupContainer9').style.display = 'block';
        }

        function closePopup9() {
            document.getElementById('popupContainer9').style.display = 'none';
        }

        function preventPopupClose9(event) {
            event.stopPropagation();
        }
        

     function openPopupname10(event) {
            event.stopPropagation();
            document.getElementById('popupContainer10').style.display = 'block';
        }

        function closePopup10() {
            document.getElementById('popupContainer10').style.display = 'none';
        }

        function preventPopupClose10(event) {
            event.stopPropagation();
        }
        

     function openPopupname11(event) {
            event.stopPropagation();
            document.getElementById('popupContainer11').style.display = 'block';
        }

        function closePopup11() {
            document.getElementById('popupContainer11').style.display = 'none';
        }

        function preventPopupClose11(event) {
            event.stopPropagation();
        }
        

     function openPopupname12(event) {
            event.stopPropagation();
            document.getElementById('popupContainer12').style.display = 'block';
        }

        function closePopup12() {
            document.getElementById('popupContainer12').style.display = 'none';
        }

        function preventPopupClose12(event) {
            event.stopPropagation();
        }
        

     function openPopupname13(event) {
            event.stopPropagation();
            document.getElementById('popupContainer13').style.display = 'block';
        }

        function closePopup13() {
            document.getElementById('popupContainer13').style.display = 'none';
        }

        function preventPopupClose13(event) {
            event.stopPropagation();
        }
        

     function openPopupname14(event) {
            event.stopPropagation();
            document.getElementById('popupContainer14').style.display = 'block';
        }

        function closePopup14() {
            document.getElementById('popupContainer14').style.display = 'none';
        }

        function preventPopupClose14(event) {
            event.stopPropagation();
        }
        

     function openPopupname15(event) {
            event.stopPropagation();
            document.getElementById('popupContainer15').style.display = 'block';
        }

        function closePopup15() {
            document.getElementById('popupContainer15').style.display = 'none';
        }

        function preventPopupClose15(event) {
            event.stopPropagation();
        }
        

     function openPopupname16(event) {
            event.stopPropagation();
            document.getElementById('popupContainer16').style.display = 'block';
        }

        function closePopup16() {
            document.getElementById('popupContainer16').style.display = 'none';
        }

        function preventPopupClose16(event) {
            event.stopPropagation();
        }
        

     function openPopupname17(event) {
            event.stopPropagation();
            document.getElementById('popupContainer17').style.display = 'block';
        }

        function closePopup17() {
            document.getElementById('popupContainer17').style.display = 'none';
        }

        function preventPopupClose17(event) {
            event.stopPropagation();
        }
        

     function openPopupname18(event) {
            event.stopPropagation();
            document.getElementById('popupContainer18').style.display = 'block';
        }

        function closePopup18() {
            document.getElementById('popupContainer18').style.display = 'none';
        }

        function preventPopupClose18(event) {
            event.stopPropagation();
        }
        

     function openPopupname19(event) {
            event.stopPropagation();
            document.getElementById('popupContainer19').style.display = 'block';
        }

        function closePopup19() {
            document.getElementById('popupContainer19').style.display = 'none';
        }

        function preventPopupClose19(event) {
            event.stopPropagation();
        }
        

     function openPopupname20(event) {
            event.stopPropagation();
            document.getElementById('popupContainer20').style.display = 'block';
        }

        function closePopup20() {
            document.getElementById('popupContainer20').style.display = 'none';
        }

        function preventPopupClose20(event) {
            event.stopPropagation();
        }
        


    // window.onload = function () {
    //   function getRandomColor() {
    //     const min = 0;
    //     const max = 255;

    //     const r = Math.floor(Math.random() * (max - min + 1)) + min;
    //     const g = Math.floor(Math.random() * (max - min + 1)) + min;
    //     const b = Math.floor(Math.random() * (max - min + 1)) + min;

    //     return `rgb(${r}, ${g}, ${b})`;
    //   }

    //   function changeColors() {
    //     const h1 = document.querySelector(".nav");
    //     const links = document.querySelectorAll("a");
    //     const randomColor = getRandomColor();
    //     h1.style.backgroundColor = randomColor;

    //     links.forEach(link => {
    //       link.style.backgroundColor = randomColor;
    //     });
    //   }

    //   changeColors();
    // };






    const SNOW_COUNT = 300;

function startAnimation() {
  const CANVAS_WIDTH = window.innerWidth;
  const CANVAS_HEIGHT = window.innerHeight;
  const MIN = 0;
  const MAX = CANVAS_WIDTH;

  const canvas = document.getElementById("canvas");
  const ctx = canvas.getContext("2d");

  canvas.width = CANVAS_WIDTH;
  canvas.height = CANVAS_HEIGHT;

  function clamp(number, min = MIN, max = MAX) {
    return Math.max(min, Math.min(number, max));
  }

  function random(factor = 1) {
    return Math.random() * factor;
  }

  function degreeToRadian(deg) {
    return deg * (Math.PI / 180);
  }

  // All the properties for Circle
  class Circle {
    radius = 0;
    x = 0;
    y = 0;
    vx = 0;
    vy = 0;

    constructor(ctx) {
      this.ctx = ctx;
      this.reset();
    }

    draw() {
      this.ctx.beginPath();
      const body = document.body;

// Get the computed background color of the body
const bodyBgColor = window.getComputedStyle(body).backgroundColor;

// Check if the background color is light or dark
if (bodyBgColor === 'rgb(240, 240, 240)' || bodyBgColor === '#f0f0f0') {
    // Light mode: set fill style to white
    ctx.fillStyle = 'rgba(255, 0, 0, 0.8)';

} else {
    // Dark mode: set fill style to red
    ctx.fillStyle = 'rgba(255, 255, 255, 0.8)';
}

      this.ctx.arc(this.x, this.y, this.radius, 0, 2 * Math.PI);
      this.ctx.fill();
      this.ctx.closePath();
    }

    reset() {
      this.radius = random(2.5);
      this.x = random(CANVAS_WIDTH);
      this.y = this.y ? 0 : random(CANVAS_HEIGHT);
      this.vx = clamp((Math.random() - 0.5) * 0.4, -0.4, 0.4);
      this.vy = clamp(random(1.5), 0.1, 0.8) * this.radius * 0.5;
    }
  }

  // Array for storing all the generated circles
  let circles = [];

  // Generate circles
  for (let i = 0; i < SNOW_COUNT; i++) {
    circles.push(new Circle(ctx));
  }

  // Clear canvas
  function clearCanvas() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
  }

  // start and end cordinates of canvas
  let canvasOffset = {
    x0: ctx.canvas.offsetLeft,
    y0: ctx.canvas.offsetTop,
    x1: ctx.canvas.offsetLeft + ctx.canvas.width,
    y1: ctx.canvas.offsetTop + ctx.canvas.height
  };

  function animate() {
    clearCanvas();

    circles.forEach((e) => {
      // reset the circle if it collides on border
      if (
        e.x <= canvasOffset.x0 ||
        e.x >= canvasOffset.x1 ||
        e.y <= canvasOffset.y0 ||
        e.y >= canvasOffset.y1
      ) {
        e.reset();
      }

      // Drawing path using polar cordinates
      e.x = e.x + e.vx;
      e.y = e.y + e.vy;
      e.draw();
    });

    requestAnimationFrame(animate);
  }

  animate();
}

startAnimation();

window.addEventListener("resize", startAnimation);










  </script>

</html>