<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="static/styles/ashraf.css" />

        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
        <script src="static/java/connection.js"></script>
        <title>Sanawya Sessions</title>
    </head>
    <body>
        <section class="banner">
            <canvas id="canvas"></canvas>
            <div class="form-container">
                <h2>Ashraf ElShenawy (By Spy)</h2>
                <p id="lastLectureTitle"></p>

                <p>
                    <a href="/" class="nohover">Home</a>
                </p>

                <h3></h3>
                <label for="lectureIdInput">Select Lecture :</label>
                <select class="custom-select" id="lectureIdInput"></select>
                <br />
            </div>
            <h1></h1>
            <div id="playButtonContainer"></div>
            <br />
            <br />
            <div id="videoPlayerContainer">
                <iframe id="videoPlayer" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </section>
    </body>
    <script src="static/java/snow.js"></script>

    <script src="static/java/ashraf.js"></script>
</html>
