<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">

</head>
<body>
    <div class="form">
        <h1 class="title">An unexpected error occurred</h1>
        <p class="subtitle">{{error}}</p>

        {%if "POWER WORD" in error%}
        
        <p class="subtitle"><b>You might have entered 2 words for assignment 5 to 8 .</b></p>

        {%endif%}
    </div>
</body>
</html>
