<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">

</head>
<body>
    <div class="form">
        <h1 class="title">Chatgpt token Needs to be refreshed</h1>
        <p class="subtitle">Please wait while the issue is resolved.</p>
    </div>
</body>
</html>
