<!DOCTYPE html>
<html>
<head>

    <title>{{ teachername }}</title>

    <script>
      const capitalize=(word)=> {
      return word[0].toUpperCase() + word.slice(1).toLowerCase();
    }
    let title= document.querySelector('title')
    title.textContent=capitalize(title.textContent)
    </script>



<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />




    <meta name="description" content="Spynet">
    <meta name="keywords" content="spy, spynet, spysnet">

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/teacher.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">




    <script src="{{ url_for('static', filename='java/connection.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  <script src="{{ url_for('static', filename='java/countdown.js') }}"></script>

    <!-- <script src="https://webkeyz.github.io/stand-with-palestine/dist/stand-with-palestine-widget.js"></script> -->

</head>


<body onload="startCountdown()">

  <section class="banner">
    <canvas id="canvas"> </canvas>
  <div class="nav">
    {% set valid_subjects = ["arabic", "english", "biology", "chemistry", "geology", "german", "maths", "physics"] %}

    {% if teachername in valid_subjects %}
        <img class="img" src="{{ url_for('static', filename='assets/subjects/' + teachername + '.png') }}" alt="Subjects Image">
        <hr>
        {% else %}
    <div style="display: flex; align-items: center; justify-content: center;">
      <img style="height: 172px;" src="{{ url_for('static', filename='assets/Alphabet/' + teachername[0].lower() + '.png') }}" alt="Subject Image">
      <h1 style="margin: 0;">{{ teachername[1:] }}</h1>
  </div>  
        <hr>
    {% endif %}






{% if link %}
    {% for key, value in link.items() %}
        <p><a href="{{ value }}" target="_blank" style="color: white;"><u>{{ key }}</u></a></p>
    {% endfor %}
{% endif %}
{%if current_user.type == 'admin'%}
<u>
    <p><a id="edit-link" style="color: white;" href="edit">Edit current Page</a></p>
    <script>
        // Get the current URL path
        const currentPath = window.location.pathname;
    
        // Set the href attribute to the current path with "/edit" appended
        document.getElementById('edit-link').href = currentPath + '/edit';
    </script>
</u>
{%endif%}



           </div>

            
           {%if teacher_links%}

   <ul>
    
    {% for x in teacher_links %}




          <li>
    
            <a href="{{teachername}}/{{x.link}}">

    {%if "2023" in x.description%}
        <div class="card_old">
            {%else%}
        <div class="card">
          {%endif%}
                    <img class="img" src="{{ url_for('static', filename='assets/Stage' + current_user.stage|string + '/'  + teachername +'/' + x.link +'.jpg') }}" alt="{{x.link}}">
                    
                    
                    {%if x.badge%}
       <div class="card-new-badge">{{x.badge}}</div>
{%endif%}

                      <p>{{ x.name }}</p>

                      {%if "2023" in x.description%}
                      <span class="card_old-description">
            
                        {%else%}
                      <span class="card-description">

                        {%endif%}
                        {{ x.description if x.description else 'description' }}
                      
                      </span>



                </div>

              </a>
          </li>
          {% endfor %}

      </ul>
    
      {%else%}
      <h1 style="color: white; text-align: center;">No Content added yet</h1>

      {%endif%}
      <br>
<br>
<br>
      <div class="footer">
        <p id="countdown">Loading...</p>
      </div>

    </section>

    </body>


<script src="{{ url_for('static', filename='java/snow.js') }}"></script>
<script src="   {{ url_for('static', filename='java/connection.js') }}"></script>

<script src="{{ url_for('static', filename='java/countdown.js') }}"></script>

</html>