<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
      <script src="{{ url_for('static', filename='java/connection.js') }}"></script>

    <title>Spy</title>

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/ashraf.css') }}">
    


      <style>
        /* CSS to make the dropdown font size bigger */
        select {
            font-size: 18px; /* Adjust this value for bigger font */
            padding: 5px; /* Optional: to increase the size of the dropdown box */
        }
    </style>

</head>
<body onload="startCountdown()">

    <section class="banner">
        <canvas id="canvas"></canvas>
        <div class="form-container">
            <p style="font-size: 43px;">The leader (By Spy)</p>

            <p>
                <a href="/" class="nohover">Home</a>
              </p><br>
            <hr>

            <select name="dropdown" id="dropdown">
   {%for x in lectures%}
   <option value="{{ x }}">{{ x }}</option>

   {% endfor %}

</select>
<div class="play-btn" style="width:50px; text-align: center;   margin-left: auto;
  margin-right: auto;" onclick="loadlec()">Load</div>

        <br>      
        <br>
        <br>
        <br>
        <br>
        <br>
          <div class="footer">
            <p id="countdown">© 2024 Sanawya sessions</p>
          </div>

        
    </section>

</body>

<script>
    function loadlec() {
        // Get the selected option text
        var selectedOption = document.getElementById('dropdown').value;
        
        // Use a regular expression to extract the ID
        var idMatch = selectedOption.match(/ID\s*:\s*(\d+)/);
        
        if (idMatch) {
            var id = idMatch[1]; // The ID value extracted
            var url = "/subjects/english/theleader/session/" + id;
            
            // Redirect to the constructed URL
            window.location.href = url;
        } else {
            alert("ID not found in the selected option!");
        }
    }
</script>



    <script src="{{ url_for('static', filename='java/snow.js') }}"></script>
    <script src="   {{ url_for('static', filename='java/countdown.js') }}"></script>
    <script src="   {{ url_for('static', filename='java/connection.js') }}"></script>


</html>