<!DOCTYPE html>
<html>
<head>

    <meta name="robots" content="noindex">

    <title>{{ teachername }}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">


    <meta name="description" content="Spynet">
    <meta name="keywords" content="spy, spynet, spysnet">

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/videopage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    
    <script src="{{ url_for('static', filename='java/connection.js') }}"></script>

    <!-- <script src="https://webkeyz.github.io/stand-with-palestine/dist/stand-with-palestine-widget.js"></script> -->
    
</head>


<body onload="startCountdown()">

  <section class="banner">
    <canvas id="canvas"> </canvas>
    <div class="nav">
        <h1  onclick="toggleMusic()">° {{teachername}} °</h1>

            <!-- <p>Please donate to keep this site up. -->
              <p>
                <a href="/" class="nohover">Home</a>
              </p>
              <!-- <p>Yarab amr ygeb 90%</p> -->

              {%if "2023" in description %}
              <h1>Old content</h1>
              {%endif%}
              {%if current_user.type == 'admin'%}
<u>
  <p><a id="edit-link" style="color: white;" href="edit">Edit current Page</a></p>

  <script>
      // Get the current URL path
      const currentPath = window.location.pathname;
  
      // Set the href attribute to the current path with "/edit" appended
      document.getElementById('edit-link').href = currentPath + '/edit';
  </script>
</u>
{%endif%}

                  
  
  </div>
  <!-- <style>
    #backgroundAudio {
      display: none;
    }
  </style>
  
    <script src="static/java/song.js"></script>
  
    <audio id="backgroundAudio" controls autoplay>
      <source src="static/music/Ramadan.mp3" type="audio/mp3">
  </audio> -->
  

        <ul>       
            {%if videos%}
            {% for video in videos %}
  

                <div class="card" onclick="openPopupname{{video.jsid}}(event)">
              {{ video.title }}
          
                </div>

                <div class="popup-container" id="popupContainer{{ video.jsid }}" onclick="closePopup{{video.jsid}}()">
                  <div class="popup" id="cardPopupname" onclick="preventPopupClose{{video.jsid}}(event)">
                      <span class="close" onclick="closePopup{{video.jsid}}()">&times;</span>
                      <div class="popup-content">
                          <h3>   {{ video.title }}</h3>
                          <h3>{{video.duration}}</h3>

                          <div class="popup-buttons">
                            <div class="button-wrapper">
                                <a href="/redirect/https://www.youtube.com/watchquestionmarkv={{ video.id }}andsympollist={{ playlist_id }}" target="_blank">
                                    <img src="{{ url_for('static', filename='assets/yt.png') }}" loading="lazy" alt="YouTube Icon">
                                <p>Play</p>

                                </a>
                            </div>
                        </div>
         

          
                          </div>
                          
                      </div>
                  </div>
              </div>
      
        {% endfor %}
        {%endif%}
        </ul>
       



     <hr>
     <ul>
{%if playlist_id%}
    
     <a href="/redirect/https://www.youtube.com/playlistquestionmarklist={{playlist_id}}" target="_blank">   
        <div class="card2">
            <img src="{{ url_for('static', filename='assets/yt.png') }}" loading="lazy"></img>
            <br> Open Playlist
        </div>
     </a>
     {%endif%}
     {% if folder %}
     <a href="/redirect/{{folder}}" target="_blank">   
      <div class="card2">
          <img src="{{ url_for('static', filename='assets/drive.jpg') }}" loading="lazy"></img>
          <br> Open Drive
      </div>
   </a>
     {%endif%}
    </ul>
   
    <br>
    <br><br>   <div class="footer">
        <p id="countdown">© 2024 Sanawya sessions</p>
      </div>
    </section>

    </body>





  <script>
            {% for video in videos %}

     function openPopupname{{ video.jsid }}(event) {
            event.stopPropagation();
            document.getElementById('popupContainer{{ video.jsid }}').style.display = 'block';
        }

        function closePopup{{ video.jsid }}() {
            document.getElementById('popupContainer{{ video.jsid }}').style.display = 'none';
        }

        function preventPopupClose{{video.jsid}}(event) {
            event.stopPropagation();
        }
        {% endfor %}

  </script>
    <script src="{{ url_for('static', filename='java/connection.js') }}"></script>
    <script src="{{ url_for('static', filename='java/countdown.js') }}"></script>

<script src="{{ url_for('static', filename='java/snow.js') }}"></script>
<script src="   {{ url_for('static', filename='java/connection.js') }}"></script>

</html>
