<!DOCTYPE html>
<html>
<head>
    <title>Spysnet</title>

</head>
<body>
    <h1>Edit {{teachername}}</h1>
    <div>
        <form action="" method="post">

        <div>
            <h2>Edit Teacher Description</h2>
            <input type="text" name="description" placeholder="{{desc}}">
            <input type ="submit"  name="action" value="Set">
        </div>
        </form>
        <h2>Current Courses</h2>
        {%for x in data %}
            {% set link = x %}
            {% if " " in link %}
                {% set link = link.replace(' ', '-') %}
            {% endif %}
        <a href="{{link}}/edit">{{x}}</a> <br>
        {%endfor%}

    </div>
    <div>


        

        <div>
        <h2>Add Course</h2>
        <form action="" method="post" enctype="multipart/form-data">

        <input type="text" name="new" placeholder="New Course">
        <input type="file" name="file">

        <input type ="submit"  name="action" value="Add">
    </div>
    </form>
    <form action="" method="post">

    <div>
        <h2>Remove Course</h2>
        <input type="text" name="remove" placeholder="Course to remove">
        <input type ="submit"  name="action" value="Remove">
    </div>
    </form>
</form>
</body>
</html>
