<!DOCTYPE html>
<html>
<head>
    <title>Spysnet</title>

</head>
<body>
    <style>
        input[type="submit"] {
            text-transform: capitalize;
        }
    </style>
    <h1>Edit {{course_name}}</h1>
    <div>
        <h2>Current info</h2>



            <p>Current Playlist ID: {{ current_course.playlist_id }}</p>
            <p>Current Folder: {{ current_course.folder }}</p>
            <p>Current Description: {{ current_course.description }}</p>
        <form action="" method="post">
            
            <input type ="submit"  name="action" value="Clear videos">
</form>
   

    </div>
    <div>
        
        <h2>Playlist id</h2>
        <form action="" method="post">

        <input type="text" name="playlist" placeholder="Playlist id">
        <input type ="submit"  name="action" value="apply">
    </div>
</form>
<form action="" method="post">

<div>
        <h2>Google Drive Folder</h2>
        <input type="text" name="folder" placeholder="Folder">
        <input type ="submit"  name="action" value="Apply">
    </div>
    </form>
    <form action="" method="post">

    <div>
        <h2>Course Description</h2>
        <input type="text" name="description" placeholder="Description">
        <input type ="submit"  name="action" value="set">
    </div>


</form>
</body>
</html>
