<!DOCTYPE html>
<html>
<head>
    <title>Spysnet</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />

    <meta name="description" content="Spynet" />
    <meta name="keywords" content="spy, spynet, spysnet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/data.css') }}" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="   {{ url_for('static', filename='java/connection.js') }}"></script>
</head>
<body>
    <section class="banner">
        <canvas id="canvas"></canvas>
        <div class="banner_content">
    <style>
        input[type="submit"] {
            text-transform: capitalize;
        }
        .neww{
  
            text-decoration: none;
    color: #ffdfba;
    font-size: 1.8em;
    display: inline-block;
        }
        a{
              
            text-decoration: none;
    color: #ffdfba;
    font-size: 1em;
    display: inline-block;
        }
    </style>


    <h1>Edit {{course_name}}</h1>
 
        <h2>Current info</h2>


            <p class="neww">Current Playlist : <u><a href="https://www.youtube.com/playlist?list={{ current_course.playlist_id }}" target="_blank">Youtube</a></u> </p>
            <p class="neww">Current Folder : <u><a href="{{ current_course.folder }}" target="_blank">Drive</a> </u></p>
            <p class="neww">Current Description: {{ current_course.description }}</p>
                      
         <div class="content-container">
            <div class="form-container">
        <form action="" method="post">
            
            <input type ="submit"  name="action" value="Clear videos" onclick="confirmRemoval()">
</form>
   

    </div>
    <div>
        
        <h2>Playlist id</h2>
        <form action="" method="post">

        <input type="text" name="playlist" placeholder="Playlist id"><br><br>
        <input type ="submit"  name="action" value="apply">
    </div>
</form>
<form action="" method="post">

<div>
        <h2>Google Drive Folder</h2>
        <input type="text" name="folder" placeholder="Folder"><br><br>
        <input type ="submit"  name="action" value="Apply">
    </div>
    </form>
    <form action="" method="post">

    <div>
        <h2>Course Description</h2>
        <input type="text" name="description" placeholder="Description"><br><br>
        <input type ="submit"  name="action" value="set">
    </div>


</form>
</div>
<br><br><br>
<br>><br><br>


<div class="footer">
    <p id="countdown">© 2024 Sanawya sessions</p>
</div>

</div>
</section>

</body>
<script src="{{ url_for('static', filename='java/snow.js') }}"></script>
<script>
    function confirmRemoval() {
        return confirm("Are you sure you want to reset this course videos?");
    }
</script>
</html>
