<!DOCTYPE html>
<html>
<head>
    <title>Spysnet</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <meta name="description" content="Spynet" />
    <meta name="keywords" content="spy, spynet, spysnet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/data.css') }}" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="   {{ url_for('static', filename='java/connection.js') }}"></script>
</head>
<body onload="startCountdown()">

    <section class="banner">
        <canvas id="canvas"></canvas>
        <div class="banner_content">

            <h1 style="color: white; text-align: center;">Edit {{ teachername }} (/{{teacherlink}})</h1>

            <div class="content-container">
                <div class="form-container">
                    <h2 style="color: white; text-align: center;" >Edit Teacher (Leave blank if you dont want to update)</h2>

                    <form action="" method="post">
                        <input type="text" name="name" placeholder="{{ teachername }} (Teacher Name)"><br><br>
                        <input type="text" name="link" placeholder="{{ teacherlink }} (Teacher Link)"><br><br>
                        <input type="text" name="description" placeholder="{{ descriptionn }} (Teacher Description type null for empty description)"><br><br>
                        <input type="submit" name="action" value="Update">
                    </form>
                    
                    <h2 style="color: white; text-align: center;">Add Course</h2>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input style="width: 20%;" type="text" name="new" placeholder="New Course" required>                        
                        <div class="file-upload">
                            <label for="file-upload" class="custom-file-upload">
                                Choose Image
                            </label>
                            <input id="file-upload" type="file" name="file"  accept=".jpg, .jpeg, .png" required>
                        </div>
                        <p id="file-name" style="color: white;">No file chosen</p>
                        <script>
                        document.getElementById('file-upload').addEventListener('change', function() {
                            const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
                            document.getElementById('file-name').textContent = fileName;
                        });
                        </script>
                        <input style="background-color: green;" type="submit" name="action" value="Add">
                    </form>
                    
                    <h2 style="color: white; text-align: center;">Remove Course</h2>
                    <form action="" method="post">



                        <select name="remove">
                            {% for x in data %}
                            <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select><br><br>

                        <input style="background-color: red;" type="submit" name="action" value="Remove" onclick="return confirmRemoval()">
                    </form>
                </div>

                <div class="subjects-container">
                    <h2>Current Courses</h2>
                    {% for x in data %}
                        {% set link = x %}
                        {% if " " in link %}
                            {% set link = link.replace(' ', '-') %}
                        {% endif %}
                        <a href="{{ link }}/edit">{{ x }}</a><br>
                    {% endfor %}
                </div>
        </div>
        
        <br>><br><br>
        <br>><br><br>


        <div class="footer">
            <p id="countdown">Loading...</p>
        </div>

        </div>
    </section>
</body>

<script>
    function confirmRemoval() {
        return confirm("Are you sure you want to remove this course?");
    }
</script>

<script src="{{ url_for('static', filename='java/snow.js') }}"></script>
<script src="{{ url_for('static', filename='java/countdown.js')}}"></script>

</html>
