<!DOCTYPE html>
<html>
<head>
    <title>Spysnet</title>

</head>
<body>
    <h1>Edit {{teachername}} Courses</h1>
    <div>
        <h2>Current Courses</h2>
        <pre id="teacher">
{%for x in data %}


<a href="course/{{x}}/edit">{{x}}</a>
{%endfor%}
        </pre>

    </div>
    <div>
        
        <h2>Add Course</h2>
        <form action="" method="post" enctype="multipart/form-data">

        <input type="text" name="new" placeholder="New Course">
        <input type="file" name="file">

        <input type ="submit"  name="action" value="Add">
    </div>
    <div>
        <h2>Remove Course</h2>
        <input type="text" name="remove" placeholder="Course to remove">
        <input type ="submit"  name="action" value="Remove">
    </div>
</form>
</body>
</html>
