<!DOCTYPE html>
<html>
<head>
    <title>Spysnet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/subjects.css') }}" />
</head>
<body>
    <section class="banner">
        <canvas id="canvas"></canvas>
        <div class="banner_content">
            <h1>Edit Subjects</h1>
            
            <div class="content-container">
                
   
                <div class="form-container">
                    <h2>Add Subject</h2>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="text" name="newSubject" placeholder="New subject" required><br><br>
                        <input type="file" name="file" required><br><br>
                        <input type="submit" name="action" value="Add">
                    </form>

                    <h2>Remove Subject</h2>
                    <form action="" method="post">
                        <select name="removeSubject">
                            {% for x in data %}
                            <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select><br><br>
                        <input type="submit" name="action" value="Remove" onclick="return confirmRemoval()">
                    </form>
                </div>
                <div class="subjects-container">
                    <h2>Current Subjects</h2>
                    <ul>
                        {% for x in data %}
                
                            <a href="{{ x }}/edit">{{ x }}</a><br>
                   
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>&copy; 2024 Sanawya sessions</p>
        </div>
    </section>
</body>

<script>
    function confirmRemoval() {
        return confirm("Are you sure you want to remove this subject?");
    }
</script>
<script src="{{ url_for('static', filename='java/snow.js') }}"></script>
</html>
