<!DOCTYPE html>
<html>
<head>
    <title>Spysnet</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />

    <meta name="description" content="Spynet" />
    <meta name="keywords" content="spy, spynet, spysnet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/data.css') }}" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="   {{ url_for('static', filename='java/connection.js') }}"></script>
</head>
<body>
    <section class="banner">
        <canvas id="canvas"></canvas>
        <div class="banner_content">
            <h1>Edit {{ subject }}</h1>
                
                <div class="form-container">
                    <h2>Add Teacher</h2>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="text" name="new" placeholder="New Teacher" required><br><br>
                        <input type="text" name="new2" placeholder="URL" required><br><br>
                        <input type="file" name="file" required><br><br>
                        <input type="submit" name="action" value="Add">
                    </form>

                    <h2>Remove Teacher</h2>
                    <form action="" method="post">
                        <select name="remove">
                            {% for x in data %}
                            <option value="{{ x.link }}">{{ x.name }}</option>
                            {% endfor %}
                        </select><br><br>
                        <input type="submit" name="action" value="Remove" onclick="return confirmRemoval()">

                    </form>
                </div>
       

        <div class="content-container">
            <div class="subjects-container">
                <h2>Current Teachers</h2>
                {% for x in data %}
                    <a href="{{ x.link }}/edit">{{ x.name }}</a><br>
                {% endfor %}
            </div>
            </div>

        <div class="footer">
            <p>&copy; 2024 Sanawya sessions</p>
        </div>



        </div>



    </section>
</body>

<script>
    function confirmRemoval() {
        return confirm("Are you sure you want to remove this teacher?");
    }
</script>
<script src="{{ url_for('static', filename='java/snow.js') }}"></script>
</html>
