<!DOCTYPE html>
<html>
<head>
    <title>Spysnet</title>

</head>
<body>
    <h1>Edit {{subject}}</h1>
    <div>
        <h2>Current Teachers</h2>
        <pre id="teacher">{{data}}</pre>

    </div>
    <div>
        
        <h2>Add Teacher</h2>
        <form action="" method="post">

        <input type="text" name="new" placeholder="New Teacher">
        <input type ="submit"  name="action" value="Add">
    </div>
    <div>
        <h2>Remove Teacher</h2>
        <input type="text" name="remove" placeholder="Teacher to remove">
        <input type ="submit"  name="action" value="Remove">
    </div>
</form>
</body>
</html>
