<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>

<!-- Add this inside the <head> tag of your HTML file -->


    <!-- Add this script at the end of your HTML file, before the </body> tag -->

    
<body>
    <style>
        a{
            color:blue;
        }
    </style>
    <h1>Welcome to the Admin Page</h1>


    <a href="/logs">Logs</a>
    <br><br>
    {% if users %}
        <table border="1">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <!-- <th>Password</th> -->
                    <th>Sessions</th>
                    <th>Email</th>
                    <th>OTP</th>
                    {%if current_user.username == 'spy'%}
                    <th>Password</th>
                    {%endif%}
                    <!-- <th></th> -->
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.active_sessions }}</td>

                        <td>{{user.email}}</td>
                        <td>{{ user.otp }}</td>
                    {%if current_user.username == 'spy'%}

                        <td>{{user.password}}</td>
{%endif%}
<!--                         
                        <td>
                            <form action="/edit_email/{{ user.id }}" method="post">
                                <input type="text" name="new_email" placeholder="New email" required>
                                <button type="submit">Update</button>
                            </form>
                        </td>
 -->


                        <td>
                            <form action="/edit_active_sessions/{{ user.id }}" method="post">
                                <input type="text" name="value" placeholder="New sessions" required>
                                <button type="submit">Update</button>
                            </form>
                        </td>
                        
                        <td><a href="/user-delete/{{ user.id }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No user data available.</p>
    {% endif %}

    <br>
<br>
<h1>Create User</h1>
<form action="/create_user" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br><br>
    <label for="email">Email:</label><br>

    <input type="text" id="email" name="email" required><br><br>

    <!-- <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br> -->
    <input type="submit" value="Create User">
</form>
</body>
</html>
