<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="static/java/connection.js"></script>

    <title>Change User ID</title>
</head>
<body>
    <h2>Change User ID</h2>
    <form id="changeUserIDForm">
        <label for="oldID">Old ID:</label><br>
        <input type="text" id="oldID" name="oldID"><br><br>
        <label for="newID">New ID:</label><br>
        <input type="text" id="newID" name="newID"><br><br>
        <input type="submit" value="Submit">
    </form>

    <div id="message"></div>

    <script>
        document.getElementById("changeUserIDForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var oldID = document.getElementById("oldID").value;
            var newID = document.getElementById("newID").value;
            var data = { "old_id": oldID, "new_id": newID };

            fetch("/change_user_id", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                document.getElementById("message").innerText = data.message;
            })
            .catch(error => {
                console.error('There was an error!', error);
                document.getElementById("message").innerText = "Error: " + error.message;
            });
        });
    </script>
</body>
</html>
