<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Files</title>
</head>
<style>
    a{
        color:green;
        text-transform: capitalize;

    }

</style>
<body>
    <h1>Log Files</h1>
    <ul>
    {% for log_file in log_files %}
    {% set username = log_file.split('_')[0] %}

        <li><a href="/logs/{{ username }}">{{ username }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>
