<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/manage.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
</head>
<body>
    <section class="banner">
        <canvas id="canvas"></canvas>
        <br>
        <br>
    <h1 style="text-align: center;">Create a new user</h1>
    <div style="text-align: center;">
<a href="/admin" style="font-size: 20px; text-decoration: underline; text-align: center; color: white;">Admin page </a>
</div>

    <br>
    <form action="" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email address" required><br><br>

        <label for="phone">Phone Number:</label>
        <input type="text" id="phone" name="phone" placeholder="Phone number" placeholder="Phone Number is not set"><br><br>



        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Get today's date
                const today = new Date().toISOString().split('T')[0];
                // Set the value of the input field to today's date
                document.getElementById('sub_date').value = today;
            });
        </script>
   
        <label for="otp">Subscription date:</label>
        <input type="date" id="sub_date" name="sub_date" ><br><br>

        <label for="otp">Subscription Method:</label>
        
        <select name="sub_method" id="sub_method">

            {% for o in sub_methods %}
                    <option value="{{ o.name }}">{{ o.name }}</option>
            {% endfor %}
        </select>
         




        <label for="stage">Stage:</label>

            <select name="stage" id="stage">

                {% for o in data %}

                        <option value="{{ o.name }}">{{ o.name }}</option>
    
                {% endfor %}
            </select>
        
</form>
   <br><br>



    <br><br>
<br><br>
<br><br>


    <div class="footer">
        <p>&copy; 2024 Sanawya sessions</p>
    </div>

</section>
</body>
<script src="{{ url_for('static', filename='java/snow.js') }}"></script>

</html>
