<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }}'s Logs</title>
</head>
<body>
    <h1>{{ username }}'s Logs</h1>
    <table>
        <thead>
            <tr>
                <th>IP</th>
                <th>URL</th>
                <th>Timestamp</th>
                <th>Device Type</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                {% for field in log.split(':') %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
