<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Folders</title>
</head>
<body>
    <h1>Available Folders</h1>
    <ul>
        {% if folders %}
            {% for folder in folders %}
                <li>
                    <a href="{{ url_for('views.show_images', folder_name=folder) }}">{{ folder }}</a>
                </li>
            {% endfor %}
        {% else %}
            <p>No folders found in the sherbo directory.</p>
        {% endif %}
    </ul>
</body>
</html>
