<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ folder_name }} - Images</title>
</head>
<body>
    <h1>Images in {{ folder_name }}</h1>
    <div>
        {% if images %}
            {% for image in images %}
                <div>
                    <img src="{{ url_for('views.send_image', folder_name=folder_name, filename=image) }}" alt="{{ image }}">
                </div>
            {% endfor %}
        {% else %}
            <p>No images found in this folder.</p>
        {% endif %}
    </div>
</body>
</html>
