<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpysNet</title>
    <link rel="icon" type="image/x-icon" href="/static/snn.png">
    <meta name="description" content="{{teacher}}">
</head>

<body>

    <h1>{{teacher}} list</h1>
  
    <a href="/update?teacher={{teacher}}">Update list</a>

  <p>Total Number of Videos in All Playlists: {{ total_videos }}</p>
   <hr>
    {% for playlist_link, data in final.items() %}
 
    <h2><a href="{{ playlist_link }}" class="niqqa" target="_blank">{{ data.playlist_name }}</a></h2>
    <p>Number of Videos: {{ data.titles|length }}</p>
    <ul>
        {% for title in data.titles %}
        <li>
            <a href="https://www.youtube.com/watch?v={{ title.url }}" class="niqqa" target="_blank">{{ title.title }}</a>
        </li>
        {% endfor %}
    </ul>
   <hr>
    {% endfor %}


</body>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-transform: capitalize;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        text-transform: capitalize;
    }

    .niqqa {
        color: inherit;
        text-decoration: none;
    }
</style>

</html>
