<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <style>
        body {
            text-align: center;
            padding: 100px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Loading...</h1>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const command = urlParams.get('command');
    
        setTimeout(function() {
            fetch('/start_background_task', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `command=${command}`,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                    console.log("error?")
                }
                return response.json();
            })
        
            .catch(error => console.error('Error:', error));
        }, 3000);
    </script>
    
</body>
</html>
