<!DOCTYPE html>
<html>

<head>
    <title>Spynet</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        p {
            text-align: center;
        }

        .maintenance-message {
            margin-top: 20px; /* Adjust the margin as needed */
        }
    </style>
</head>

<body>
    <p>Your IP is: {{ip_address}}</p> <br>
    <p class="maintenance-message">Under Maintenance</p>
</body>

</html>
