<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spynet</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Arial, sans-serif;
        }

        p {
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <p> {{ip_address}}</p>
    </div>
</body>

</html>
