<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Add any additional CSS styles or links to external stylesheets here -->
</head>
<body>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="static/java/connection.js"></script>
    
<div>
    <h2>Login</h2>


    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>
