<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpysNet</title>
    <link rel="icon" type="image/x-icon" href="/static/snn.png">
    <meta name="description" content="chem">
</head>

<body>

    <h1>chem list</h1>
  
    <a href="/update?teacher=chem">Update list</a>

  <p>Total Number of Videos in All Playlists: 55</p>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPXWpBDCzn4h0L36UNRYuFb2" class="niqqa" target="_blank">Nasser El batal Chapter 1</a></h2>
    <p>Number of Videos: 24</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=4BwOj9TvrNs" class="niqqa" target="_blank">S1 | Part 1 | Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=8YnBXVoBKgI" class="niqqa" target="_blank">S1 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=CHSSaDiVbuU" class="niqqa" target="_blank">Homework Lesson One Chapter 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=wDxR05qj36A" class="niqqa" target="_blank">S2 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ke_zRzmYh8A" class="niqqa" target="_blank">S2 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Igqyd0rPG-o" class="niqqa" target="_blank">Summary S2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=xxXksf4rnaw" class="niqqa" target="_blank">S2: Class sheet Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=IsCDLe0MkXA" class="niqqa" target="_blank">S2: Class sheet Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=vZZPrP9IlF0" class="niqqa" target="_blank">chapter 1 lesson 3 homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=cMSmPDe300w" class="niqqa" target="_blank">S3 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=SgOK5BcP_DI" class="niqqa" target="_blank">S3 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=C9Hy2u8daAk" class="niqqa" target="_blank">S3 | Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=L_uva89uAdY" class="niqqa" target="_blank">S3 | Classsheet</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=kSkfZ8I4fzM" class="niqqa" target="_blank">Hw Lesson 3 Final</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=VhB3mW5er5s" class="niqqa" target="_blank">S4 | Part1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Fv3fvCrAHy8" class="niqqa" target="_blank">S4 | Part2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=c6hgb_TTtOU" class="niqqa" target="_blank">S4 | Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=OIOW0bRsrvo" class="niqqa" target="_blank">S4 | Classsheet</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=8Y_AsNWxQjc" class="niqqa" target="_blank">HW Ch 1 Lesson 4</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=1rXysYNUXL8" class="niqqa" target="_blank">S5 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=RA5RespL9b4" class="niqqa" target="_blank">S5 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Ne1s9Qdr8Xk" class="niqqa" target="_blank">S5 | Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=x8pLkKmqSpc" class="niqqa" target="_blank">ch 1 le 5 HW</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=lmsFtoUISQE" class="niqqa" target="_blank">S5 ClassSheet</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPVYwDkN3DxFcyS1QWCKfAjv" class="niqqa" target="_blank">Nasser El batal Chapter 2</a></h2>
    <p>Number of Videos: 31</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=fiUflb-TeV8" class="niqqa" target="_blank">S1 | Part1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=fxjPnaBsl7w" class="niqqa" target="_blank">S1 | Part2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=AEeKCY2n1IQ" class="niqqa" target="_blank">S1 | Part3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=4GMtG4raUlk" class="niqqa" target="_blank">S1 | Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=O5vDb2-ABG8" class="niqqa" target="_blank">S1 | Classsheet | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=mcbPymP4r44" class="niqqa" target="_blank">S1 | Classsheet | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=9K0x-xedl0Y" class="niqqa" target="_blank">S1 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=jFlSjSEmnKc" class="niqqa" target="_blank">S2 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=rCmZDr24mts" class="niqqa" target="_blank">S2 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=i2k6qhkklqI" class="niqqa" target="_blank">S2 | Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=UpIr3vb2wPg" class="niqqa" target="_blank">S2 | ClassSheet | Part1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=OVM3h3co6Co" class="niqqa" target="_blank">S2 | ClassSheet | Part2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=3FLy7Ej2mgs" class="niqqa" target="_blank">S2 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=oEXygTFHZ5w" class="niqqa" target="_blank">S3 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=NYiLem65vS4" class="niqqa" target="_blank">S3 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=jOh7J8bWSKw" class="niqqa" target="_blank">S3 | Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=7Mx_panDcgE" class="niqqa" target="_blank">S3 | ClassSheet 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=GvnzeJJGKF4" class="niqqa" target="_blank">S3 | ClassSheet 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=IT3VxZgUvTE" class="niqqa" target="_blank">S3 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=7SoVL3YtLio" class="niqqa" target="_blank">S4 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=UT4jJEEYuaA" class="niqqa" target="_blank">S4 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=9w6rX0eMvx4" class="niqqa" target="_blank">S4 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=uB8PhMGMmrc" class="niqqa" target="_blank">S4 | Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=HgIO8Stfm6o" class="niqqa" target="_blank">S4 | ClassSheet</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=4WRmhH4kBr4" class="niqqa" target="_blank">S4 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=9SlgQ4ppxZM" class="niqqa" target="_blank">S5 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=hVL_A47SB-8" class="niqqa" target="_blank">S5 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ehn9hidDcTY" class="niqqa" target="_blank">S5 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Rh7jxxVd05s" class="niqqa" target="_blank">S5 | Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ATEaTdCWgdI" class="niqqa" target="_blank">S5 | ClassSheet Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=8FmXyIGsvSI" class="niqqa" target="_blank">S5 | ClassSheet Part 2</a>
        </li>
        
    </ul>
   <hr>
    


</body>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-transform: capitalize;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        text-transform: capitalize;
    }

    .niqqa {
        color: inherit;
        text-decoration: none;
    }
</style>

</html>