<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpysNet</title>
    <link rel="icon" type="image/x-icon" href="/static/snn.png">
    <meta name="description" content="gedo">
</head>

<body>

    <h1>gedo list</h1>
  
    <a href="/update?teacher=gedo">Update list</a>

  <p>Total Number of Videos in All Playlists: 67</p>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPXBcSNcLjkmcQG53hQYTvui" class="niqqa" target="_blank">Gedo</a></h2>
    <p>Number of Videos: 67</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=u8asT6DJ8Xg" class="niqqa" target="_blank">S1 | Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=5WXradfIPjQ" class="niqqa" target="_blank">S1 | القصة الفصل الأول</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Yh5OPDQ79AI" class="niqqa" target="_blank">S1 |  النحو الجزء الأول</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=MFl0zh2VttY" class="niqqa" target="_blank">S1 |  النحو الجزء الثاني</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ksynglvOZxs" class="niqqa" target="_blank">S1 |  النحو الجزء الثالث</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=BRYSHjT21EA" class="niqqa" target="_blank">S4 | Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=zZHJhvWoyWI" class="niqqa" target="_blank">S4 | النحو الجزء الأول</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=yk6XzNswrtY" class="niqqa" target="_blank">S4 | النحو الجزء الثاني</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=7673VpKNYC0" class="niqqa" target="_blank">S4 | النحو الجزء الثالث</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=DmJE0BwuZUc" class="niqqa" target="_blank">S4 |  الأدب الجزء الأول</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=mb2joE0CCv8" class="niqqa" target="_blank">S4 | الأدب الجزء الثاني</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=tT0iHWVMgS8" class="niqqa" target="_blank">S5 | التطبيق التفاعلي</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ODx7p3d500M" class="niqqa" target="_blank">S5 | Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=XilHd2TDtV0" class="niqqa" target="_blank">S5 | نحو الجزء الأول</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=AbKrVeNkqvE" class="niqqa" target="_blank">S5 | نحو الجزء الثاني</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=v5Uhr9ZtJPo" class="niqqa" target="_blank">S5  | القصة</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=9pIuXvseeGA" class="niqqa" target="_blank">S5 | ادب</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=jq6618gTNsA" class="niqqa" target="_blank">S6 | Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=gY77WHntWxA" class="niqqa" target="_blank">S6 | التعبير</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=yTrUDWBnHUI" class="niqqa" target="_blank">S6 | القراءة</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=0UNoHzZakz0" class="niqqa" target="_blank">S6 | النصوص</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=XNzg52ryvN0" class="niqqa" target="_blank">S6 | النحو الجزء الأول</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=FM8L-h0Gi_s" class="niqqa" target="_blank">S6 | النحو الجزء الثاني</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=1rf36ITyQEg" class="niqqa" target="_blank">S6 | تطبيق تفاعلي</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=eMFzICaefBg" class="niqqa" target="_blank">S7 | Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=rKqaBNCpSNQ" class="niqqa" target="_blank">S7 | Nsos</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=IKRcoj-nNxg" class="niqqa" target="_blank">S7 | Reading</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=k_g-NASLB3U" class="niqqa" target="_blank">S7 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=KIh9hZTNiN4" class="niqqa" target="_blank">S7 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=iZV_VZC0E8Y" class="niqqa" target="_blank">S7| Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ACL4f35RqdY" class="niqqa" target="_blank">S7 | Part 4</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=cNX1mJgX0SE" class="niqqa" target="_blank">S7 | Ta3ber</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Xee6qMHBE4g" class="niqqa" target="_blank">S7 | Story</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=N-VoT0jsKdQ" class="niqqa" target="_blank">S8Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=dOoLrCccdiE" class="niqqa" target="_blank">S8 | Ta3ber</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=UbYwtkvW6Bw" class="niqqa" target="_blank">S8 | Story</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=xXaoVRdzRpU" class="niqqa" target="_blank">S8adbTatbe2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=qtbrQybmaeg" class="niqqa" target="_blank">S8adbPart1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=nXnU7no1RH8" class="niqqa" target="_blank">S8adbPart2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=eoh0mVxLGHM" class="niqqa" target="_blank">S8 | Na7o | Part1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=6eqsevsICvA" class="niqqa" target="_blank">S8Na7oPart2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=jFdwgRXCQkU" class="niqqa" target="_blank">S9 | Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=f2BjN3_gqa0" class="niqqa" target="_blank">S9 | Nsos</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=_tafzL_XNIY" class="niqqa" target="_blank">S9 | Na7o | Part1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=P_PJMvEormk" class="niqqa" target="_blank">S9 | Na7o | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=sF6B1jclUig" class="niqqa" target="_blank">S10 | Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=pMzv2yYTmWU" class="niqqa" target="_blank">S10 | Na7o Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=mCo3f5fFtoA" class="niqqa" target="_blank">S10 | Na7o Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=puweO1wKGTo" class="niqqa" target="_blank">S10 | Na7o Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=PobThvV3a7Q" class="niqqa" target="_blank">S10 | Reading</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=3eurtZF3fIw" class="niqqa" target="_blank">S10 | Ta3ber</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=f7jXBvCtwuE" class="niqqa" target="_blank">S10 | Story</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=a_oVlpmduAc" class="niqqa" target="_blank">S11Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=D8JkVza7wwA" class="niqqa" target="_blank">S11Na7oPart1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=YweEPecSYcg" class="niqqa" target="_blank">S11Na7oPart2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=fy7l_h5oqGY" class="niqqa" target="_blank">S11Na7oPart3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=jJWmsmm8tC8" class="niqqa" target="_blank">S11Na7oPart4</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=qaHd0OabFmA" class="niqqa" target="_blank">S11nsos</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=6_hdbqxdeXs" class="niqqa" target="_blank">S11adb</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=rzYzL-2bMTo" class="niqqa" target="_blank">S12 | Intro</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=gV8YHItEGnY" class="niqqa" target="_blank">S12Na7oPart1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=cY1nRCn6HRQ" class="niqqa" target="_blank">S12Na7oPart2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=CcqC6TdabUg" class="niqqa" target="_blank">S12Na7oPart3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=jw5ffvTuApg" class="niqqa" target="_blank">S12Na7oPart4</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=piV8AJ1VRBU" class="niqqa" target="_blank">S12adb</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=VFMJbwAaW9I" class="niqqa" target="_blank">S12Reading</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=uKEjogn-FGQ" class="niqqa" target="_blank">S12Tatbe2</a>
        </li>
        
    </ul>
   <hr>
    


</body>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-transform: capitalize;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        text-transform: capitalize;
    }

    .niqqa {
        color: inherit;
        text-decoration: none;
    }
</style>

</html>