<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpysNet</title>
    <link rel="icon" type="image/x-icon" href="/static/snn.png">
    <meta name="description" content="nawar">
</head>

<body>

    <h1>nawar list</h1>
  
    <a href="/update?teacher=nawar">Update list</a>

  <p>Total Number of Videos in All Playlists: 32</p>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPXpGe3wzMN7SKYvmTr0jACa" class="niqqa" target="_blank">Nawar Chapter 1</a></h2>
    <p>Number of Videos: 20</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=bdv3ARdDlq8" class="niqqa" target="_blank">S1 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=jC8Asft8gO8" class="niqqa" target="_blank">S1 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=7J4P4HemnfY" class="niqqa" target="_blank">S1 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=kE6Xl-I2CVc" class="niqqa" target="_blank">S1 | Part 4</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=liyZwlaaMzE" class="niqqa" target="_blank">S2 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=TxUXKX43QSw" class="niqqa" target="_blank">S2 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=7rmXYIBe9jQ" class="niqqa" target="_blank">S2 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=WdFJy2mAoXU" class="niqqa" target="_blank">S2 | Part 4</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=5Ggm5Pg3kT8" class="niqqa" target="_blank">S3 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=C6dWAEKVLJo" class="niqqa" target="_blank">S3 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=dEGUqA_qv5E" class="niqqa" target="_blank">S4 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=C8exTNxkb_o" class="niqqa" target="_blank">S5 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=4oFk4GaDNAM" class="niqqa" target="_blank">S5 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Rno4u8I1WPU" class="niqqa" target="_blank">S6 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=5JIN-oU5rWM" class="niqqa" target="_blank">S7 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=VuOyN3WF1SI" class="niqqa" target="_blank">S7 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=sKHuIxKgOd4" class="niqqa" target="_blank">S7 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=vaDBgMmYda4" class="niqqa" target="_blank">S7 | Part 4</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=JnxBBtT3l_w" class="niqqa" target="_blank">S8 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=VFpG_r-pip8" class="niqqa" target="_blank">S9 | Part 1</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPXELEhVJi-nBm-oZXpE85K2" class="niqqa" target="_blank">Nawar Chapter 1 Revsion</a></h2>
    <p>Number of Videos: 7</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=GyOXtkFf2go" class="niqqa" target="_blank">RevPart1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=-JgDjBo-2Cs" class="niqqa" target="_blank">RevPart2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=SF0Q6rlsRS8" class="niqqa" target="_blank">RevPart3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=uWIFwVL_ivY" class="niqqa" target="_blank">RevPart4</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=hdkbltySwtU" class="niqqa" target="_blank">RevPart5</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=wedO_0ZplQU" class="niqqa" target="_blank">RevPart6</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=B1m8unBo9F0" class="niqqa" target="_blank">RevPart7</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPWU4v5bcndzPBt6e7PsiCwQ" class="niqqa" target="_blank">Nawar Chapter 2</a></h2>
    <p>Number of Videos: 5</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=j0ENfrla_6I" class="niqqa" target="_blank">S1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ya0fK3Ns1AE" class="niqqa" target="_blank">S2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ZcdW_jBEto8" class="niqqa" target="_blank">S3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=6tKxo5KyGs4" class="niqqa" target="_blank">S4 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=eva1w3g61Ms" class="niqqa" target="_blank">S4 | Part 2</a>
        </li>
        
    </ul>
   <hr>
    


</body>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-transform: capitalize;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        text-transform: capitalize;
    }

    .niqqa {
        color: inherit;
        text-decoration: none;
    }
</style>

</html>