<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpysNet</title>
    <link rel="icon" type="image/x-icon" href="/static/snn.png">
    <meta name="description" content="salama">
</head>

<body>

    <h1>salama list</h1>
  
    <a href="/update?teacher=salama">Update list</a>

  <p>Total Number of Videos in All Playlists: 70</p>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPVEULTnn90gqVL0AL99KtU0" class="niqqa" target="_blank">PreStudy | Salama</a></h2>
    <p>Number of Videos: 2</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=LTxAihyhyDQ" class="niqqa" target="_blank">Pre-study 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ils5Mg1ZTSA" class="niqqa" target="_blank">Pre-study 2</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPWfuCf4h_ucKPOBKjH6No-W" class="niqqa" target="_blank">Course 1 | Salama</a></h2>
    <p>Number of Videos: 8</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=jp0WvafZ4Vc" class="niqqa" target="_blank">S1 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ryxY9E8Lk_4" class="niqqa" target="_blank">S1Part2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=oeRWmRvZ_6I" class="niqqa" target="_blank">S1Part3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=yigE_QbzMH4" class="niqqa" target="_blank">S1Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=2msn-7AJhSE" class="niqqa" target="_blank">S2 | Part1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=aTKh37dGh2Q" class="niqqa" target="_blank">S2Part2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=1GIcnnPm9hQ" class="niqqa" target="_blank">S2Part3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=KmXoeu29r7E" class="niqqa" target="_blank">S2Homework</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPUubsCYnPGc27tihI0pz4hi" class="niqqa" target="_blank">Course 2 | Salama</a></h2>
    <p>Number of Videos: 8</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=4M76MEnokaw" class="niqqa" target="_blank">S3 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=wy4kiKNo_KE" class="niqqa" target="_blank">S3 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=naDyCv8mvIk" class="niqqa" target="_blank">S3 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=CePg-d7mv8k" class="niqqa" target="_blank">S3 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=6Y_p8BL-1do" class="niqqa" target="_blank">S4 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=TTxxIDU78Wo" class="niqqa" target="_blank">S4 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=eKDDD1wjVPM" class="niqqa" target="_blank">S4 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=x3o6BJwAM8U" class="niqqa" target="_blank">S4 | Homework</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPUSSsoABHH059FBapcSjvGg" class="niqqa" target="_blank">Course 3 | Salama</a></h2>
    <p>Number of Videos: 8</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=oxtVk-PR3wo" class="niqqa" target="_blank">S5 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=HlQ5nNy5KxA" class="niqqa" target="_blank">S5 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=fSDsWv6nQZA" class="niqqa" target="_blank">S5 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=1gRYOuw7qkw" class="niqqa" target="_blank">S5 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=RnE8K-OI2WU" class="niqqa" target="_blank">S6 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=tjuVCcz2u-s" class="niqqa" target="_blank">S6 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=5Q9tsG7IbHs" class="niqqa" target="_blank">S6 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=yTPikPjxgCw" class="niqqa" target="_blank">S6 | Homework</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPXWSZDCjeDfvdMV5QXYwg4x" class="niqqa" target="_blank">Course 4 | Salama</a></h2>
    <p>Number of Videos: 8</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=SxcJxsSCZ84" class="niqqa" target="_blank">S7 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Hde3Dy3jmz4" class="niqqa" target="_blank">S7 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=GanGVNsHlLg" class="niqqa" target="_blank">S7 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Qf87gRYqdsM" class="niqqa" target="_blank">S7 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=fPOHVBJ4BVg" class="niqqa" target="_blank">S8 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=MWtr9l1IbJc" class="niqqa" target="_blank">S8 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=xud_f2pXSCc" class="niqqa" target="_blank">S8 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=1sQX-yqxeWY" class="niqqa" target="_blank">S8 | Homework</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPWEGxQu5D0hVrUCJjTMqYvd" class="niqqa" target="_blank">Course 5 | Salama</a></h2>
    <p>Number of Videos: 8</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=iwB_IqnkRx8" class="niqqa" target="_blank">S9 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=C7_9rR02570" class="niqqa" target="_blank">S9 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Z15-NkyPd6A" class="niqqa" target="_blank">S9 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=iJvKhtOzdnA" class="niqqa" target="_blank">S9 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=v1VZGBlcbE4" class="niqqa" target="_blank">S10 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=kLU1v-6jhJI" class="niqqa" target="_blank">S10 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=qSr3oYVFgAo" class="niqqa" target="_blank">S10 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=mBB9WKXjR5E" class="niqqa" target="_blank">S10 | Homework</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPWZKrvX8MvfJxfxXhKXvqR3" class="niqqa" target="_blank">Course 6 | Salama</a></h2>
    <p>Number of Videos: 5</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=-IoqLAqANM4" class="niqqa" target="_blank">RevPar1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=GuQjsb4TW8I" class="niqqa" target="_blank">RevPart2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=56FGmImw_aU" class="niqqa" target="_blank">RevPart3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=crBDV5ZTEsE" class="niqqa" target="_blank">RevPart4</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=kj1zE1KuF0Y" class="niqqa" target="_blank">RevPart5</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPUobUeuNIWsitKeP-aHOwif" class="niqqa" target="_blank">Course 7 | Salama</a></h2>
    <p>Number of Videos: 8</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=_dOHPVoBGb4" class="niqqa" target="_blank">S11 | Part1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=_pKqOFFCwQQ" class="niqqa" target="_blank">S11 | Part2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=DlUUzKcoOeQ" class="niqqa" target="_blank">S11 | Part3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=HOa76MC8fiU" class="niqqa" target="_blank">S11 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=-7i0V_NJlBI" class="niqqa" target="_blank">S12 | Part1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=_STS06EyeO8" class="niqqa" target="_blank">S12 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=_2QqYGtojoQ" class="niqqa" target="_blank">S12 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=s4MF0-J_VgM" class="niqqa" target="_blank">S12 | Homework</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPUqwS3-Ij-pHBq4_aoEAwMZ" class="niqqa" target="_blank">Course 8 | Salama</a></h2>
    <p>Number of Videos: 5</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=aGsue4wh1U8" class="niqqa" target="_blank">S15 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=NAebkFvSgOU" class="niqqa" target="_blank">S15 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=yaY9acdb6fA" class="niqqa" target="_blank">S15 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Sk_CIS43GIk" class="niqqa" target="_blank">S16 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=CFwzRNymOAY" class="niqqa" target="_blank">S16 | Part 3</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPXe2kZo_cM06BZWXwdSxQ7B" class="niqqa" target="_blank">Course 9 | Salama</a></h2>
    <p>Number of Videos: 4</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=NdtdjbpDsUE" class="niqqa" target="_blank">S17 | Part 1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=gRmgI1nwAHU" class="niqqa" target="_blank">S17 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=nN08Z6rAxi8" class="niqqa" target="_blank">S17 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Xa3sRaIjyyU" class="niqqa" target="_blank">S18 | Part 1</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPXZmghd3uMqZWx6wlLZDiiu" class="niqqa" target="_blank">Course 10 | Salama</a></h2>
    <p>Number of Videos: 6</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=GTqIjB_sIho" class="niqqa" target="_blank">S19 | Part1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=oijNU2RJCgE" class="niqqa" target="_blank">S19 | Part2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=7aUoF6Qwyw0" class="niqqa" target="_blank">S19 | Part3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=7_3h1dm9Wy8" class="niqqa" target="_blank">S20 | Part1</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=UN7lX843TXw" class="niqqa" target="_blank">S20 | Part2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=LXkuIDQZg30" class="niqqa" target="_blank">S20 | Part3</a>
        </li>
        
    </ul>
   <hr>
    


</body>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-transform: capitalize;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        text-transform: capitalize;
    }

    .niqqa {
        color: inherit;
        text-decoration: none;
    }
</style>

</html>