<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpysNet</title>
    <link rel="icon" type="image/x-icon" href="/static/snn.png">
    <meta name="description" content="sherbo">
</head>

<body>

    <h1>sherbo list</h1>
  
    <a href="/update?teacher=sherbo">Update list</a>

  <p>Total Number of Videos in All Playlists: 74</p>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPX_3mlaOeWIjCPY8jH8MpfJ" class="niqqa" target="_blank">Sherbo Statics</a></h2>
    <p>Number of Videos: 66</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=972rnFrQy94" class="niqqa" target="_blank">S1 | Skills</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=k8poF0-zSYc" class="niqqa" target="_blank">S1 | Prestudy</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=bZzsc6tiurk" class="niqqa" target="_blank">S1 |  Explanation</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=rnsxPItgyPk" class="niqqa" target="_blank">S1 | problems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=g_0Abj_oZjg" class="niqqa" target="_blank">S1 | Classwork solve</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ZZihjTjd7Vc" class="niqqa" target="_blank">S1 |  Homework solve</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=246oU11_7-I" class="niqqa" target="_blank">Statics - Session 2 - Skills</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=UP55KddZzpc" class="niqqa" target="_blank">Statics - Session 2 - Pre study</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=obL8HHOKuyI" class="niqqa" target="_blank">Statics   Session 2   Explanation</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=xAPg0YEjtwU" class="niqqa" target="_blank">Statics   Session 2   problems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=-LSh761n3pU" class="niqqa" target="_blank">Statics   Session 2   classwork solve</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=FFQmbcXgf2E" class="niqqa" target="_blank">Statics - Session 2 - Homework solve</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Uk-QudFdSNs" class="niqqa" target="_blank">S3 | Pre study</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=GpSC479Y8Ko" class="niqqa" target="_blank">S3 | Explanation</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=VL0leJVrQ7U" class="niqqa" target="_blank">S3 | Part 1 Problems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=dHwV4MlxrfY" class="niqqa" target="_blank">S3 | Part 2</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=R80uBO6kkaQ" class="niqqa" target="_blank">S3 | Part 3</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=LAdG7jkE6lc" class="niqqa" target="_blank">S3 | Classwork solve</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=hb7Hk1aXxAI" class="niqqa" target="_blank">S3 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=uYIMU-Ysl5Q" class="niqqa" target="_blank">S4 | Part1 | Explanation</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=kqCyVJbBA_I" class="niqqa" target="_blank">S4 | Part1 | Problems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=poL7_5zTW3I" class="niqqa" target="_blank">S4 | Part2 | Explanation</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=LL7nRDzM5pA" class="niqqa" target="_blank">S4 | Part2 | Problems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=aY1LwuafOMY" class="niqqa" target="_blank">S4 | Classwork</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Q3IdfH4bXMQ" class="niqqa" target="_blank">S4 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=xFhSphQ_iZ0" class="niqqa" target="_blank">S5 | Skills</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=KJpM67YkbW8" class="niqqa" target="_blank">S5 | Prestudy</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=k9n0t5uytuo" class="niqqa" target="_blank">S5 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=aUNal3PImmY" class="niqqa" target="_blank">S5 | Problems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=p0tkXbjsIgE" class="niqqa" target="_blank">S5 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=zn8DTZhVQkA" class="niqqa" target="_blank">S6 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=3jroT8AI95I" class="niqqa" target="_blank">S6 | Proplems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=zrlKHKxvC8M" class="niqqa" target="_blank">S6 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=esVdbO2zGTQ" class="niqqa" target="_blank">S7 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=nJ7ieDlxWpQ" class="niqqa" target="_blank">S7 | Proplems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Zzq3eXZdlwM" class="niqqa" target="_blank">S7 | Classwork</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=yqL2jdVjBL4" class="niqqa" target="_blank">S7 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=xrDdjqzQ9c4" class="niqqa" target="_blank">S8 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Od_GbVHNarI" class="niqqa" target="_blank">S8 | Proplems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=pLR-rbNjl1o" class="niqqa" target="_blank">S8 | Classwork</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=K7bIjVV55YI" class="niqqa" target="_blank">S8 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=heAtA_Yg5FY" class="niqqa" target="_blank">S9 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=cXEAguC6xxk" class="niqqa" target="_blank">S9 | Proplems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=6EEjsox-XlA" class="niqqa" target="_blank">S9 | Classwork</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=tTdR8lb_JNQ" class="niqqa" target="_blank">S9 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=TyUaOKKf8yI" class="niqqa" target="_blank">S10 | Skills</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=zie50NHP5gY" class="niqqa" target="_blank">S10 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=pWs77QuJSoY" class="niqqa" target="_blank">S10 | Proplems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=6bZ8DoSRRnQ" class="niqqa" target="_blank">S10 | Classwork</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=lIP1dx9lvMw" class="niqqa" target="_blank">S10 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=EYiKnB4ZdFM" class="niqqa" target="_blank">S11 | Skills</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=l8KunxKtsMo" class="niqqa" target="_blank">S11 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=yxfi-A9_0Jg" class="niqqa" target="_blank">S11 | Problems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=epguMxj-b20" class="niqqa" target="_blank">S11 | Classwork</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=UHWYI6_qo3M" class="niqqa" target="_blank">S11 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=DLM7Vpn9h4w" class="niqqa" target="_blank">S12 | Skills</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=b6MfUDY6jNY" class="niqqa" target="_blank">S12 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=J5LaRccybbo" class="niqqa" target="_blank">S12 | Problems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=nb7B950euuE" class="niqqa" target="_blank">S12 | Classwork</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=gUjFg-TnXn8" class="niqqa" target="_blank">S12 | Homework</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=aGLDtfjgOuc" class="niqqa" target="_blank">Chapter 1 Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=SgdHVfFmIH8" class="niqqa" target="_blank">Chapter 1 problems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=qAsLF_g8qYU" class="niqqa" target="_blank">Chapter 2  Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=llk2eLKjwig" class="niqqa" target="_blank">Chapter 2 Problems</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=ZxwuQTxzinE" class="niqqa" target="_blank">Chapter 3 Summary</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=_uXC2xe0EI4" class="niqqa" target="_blank">Chapter 3 problems</a>
        </li>
        
    </ul>
   <hr>
    
 
    <h2><a href="https://www.youtube.com/playlist?list=PLM-GVlebsoPXrU733HavPf8k-P5h_aFFq" class="niqqa" target="_blank">Sherbo Calculus</a></h2>
    <p>Number of Videos: 8</p>
    <ul>
        
        <li>
            <a href="https://www.youtube.com/watch?v=7BkflzSCJSc" class="niqqa" target="_blank">S1 | Skills</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=CNKX3UOPdlQ" class="niqqa" target="_blank">S1 | Part 1 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=vJoWf2neJaM" class="niqqa" target="_blank">S1 | Part 1 | Classwork</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=mEuxg-wr36A" class="niqqa" target="_blank">S1 | Part 2 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=_YEjOfDkUHc" class="niqqa" target="_blank">S1 | Part 2 | Classwork</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=Tgb1MgFpVLY" class="niqqa" target="_blank">S1 | Part 3 | Explain</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=zRxyHwABUc0" class="niqqa" target="_blank">S1 | Part 3 | Classwork</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/watch?v=NNv5FNUu6vU" class="niqqa" target="_blank">S1 | Homework</a>
        </li>
        
    </ul>
   <hr>
    


</body>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-transform: capitalize;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        text-transform: capitalize;
    }

    .niqqa {
        color: inherit;
        text-decoration: none;
    }
</style>

</html>